<section class="outer">
    <article class="articles">
      <%
          var title = 'Welcome to CSSA official website'; // Set the title explicitly or dynamically
      %>
      <h1 class="page-type-title"><%- title %></h1>
  
      <div class="markdown-content">
        <%- renderMarkdown('Home/index.md') %>
      </div>
    </article>
  </section>
  